<footer class="flex flex-col gap-6 px-5 py-10 text-center mt-auto border-t border-main">
  <p class="text-sub text-base font-normal leading-normal">2025 대학생 중고마켓</p>
</footer>

<script src="/js/common.js"></script>
